:root{
    --pink: #A62E5A;
    --blueLight: #173BA6;
    --blueDark: #183459;
    --brown: #A66D3C;
    --grey: #BFBFBF;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding:0;
}